.page-games {
	--c: #7F3300;
	--c2: #7F3300;
}
.page-games .pageMarker {
	font-family: Pirata One, "PT Sans", Arial, Helvetica, sans-serif;
	color: var(--c);
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: scale 250ms;
	position: absolute;
}
.page-games .pageMarker::before {
	border-radius: 50%;
}
.page-games.open .pageMarker {
	scale: 0;
}
.page-games .title {
	padding: 0.5em;
	text-align: center;
	font-family: Pirata One, "PT Sans", Arial, Helvetica, sans-serif;
	color: var(--c);
	letter-spacing: 0.15em;
	margin-left: 0.5rem;
	margin-right: 1rem;
}

.page-games ._projects {
	position: relative;
	padding: 1em;
}

.page-games ._switch {
	font-family: Pirata One, "PT Sans", Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: space-evenly;
	margin-bottom: -3em;
}
.page-games ._switch .oldpaper {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	text-decoration: none;
	padding: 0.5em 1em;
	padding-bottom: 2em;
	--size: 50px;
	font-size: 2rem;
	text-align: center;
	cursor: pointer;
	user-select: none;
	transform: translateY(1em);
	transition: transform 100ms;
	color: var(--c);
}
.page-games ._switch .oldpaper:hover {
	transform: translateY(-0.5em);
}
.page-games ._switch .oldpaper._gold::after {
	content: "*";
	position: absolute;
	top: 0.5rem;
	right: -1rem;
	font-size: 5rem;
	opacity: 0.5;
	color: #ffb700;
	filter: blur(1px);
}
@media screen and (max-width: 650px) {
	.page-games ._switch .oldpaper {
		padding: 0.5em calc(100vw / 25);
		padding-bottom: 2em;
	}
}
@media screen and (max-width: 500px) {
	.page-games ._projects {
		padding: 0.5em;
		padding-left: 0.2em;
	}
	.page-games ._switch {
		flex-direction: column;
		margin-bottom: -0.5em;
	}
	.page-games ._switch br {
		display: none;
	}
	.page-games ._switch .oldpaper {
		writing-mode: horizontal-tb;
		padding: 0.5em 1em;
		transform: none;
		margin-top: -0.5em;
		/* padding: 0.5em calc(100vw / 100); */
	}
	.page-games ._switch .oldpaper._gold::after {
		top: -0.5rem;
		right: 0.3rem;
	}
}

.page-games ._projects > .oldpaper {
	padding: 1em;
	padding-bottom: 100px;
	min-height: 60px;
	z-index: 1;
}
.page-games ._folder {
	position: absolute;
	font-family: Pirata One, "PT Sans", Arial, Helvetica, sans-serif;
	color: var(--c);
	z-index: 2;
	left: -1em;
	bottom: -240px;
	width: calc(100% + 2em);
	height: 300px;
	background-color: #e6dbbd;
	box-shadow: inset 0 0 30px 5px rgba(0, 0, 0, 0.5);
	border-radius: 0.3em 0.3em 1em 1em;
	background-image: var(--image-noise);
}
.page-games ._folder::before, .page-games ._folder::after {
	content: var(--date, "## / ## / ####");
	position: absolute;
	left: 20px;
	top: -25px;
	width: 200px;
	height: 25px;
	display: flex;
	align-items: center;
	white-space: pre;
	font-size: 0.9rem;
	padding-left: 1em;
	background-color: #e6dbbd;
	border-top-right-radius: 20px;
	border-top-left-radius: 5px;
	box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.5);
	background-image: var(--image-noise);
}
.page-games ._folder::before {
	left: 50px;
	top: -20px;
	height: 20px;
}
.page-games ._folder > :nth-child(1) {
	margin: 2rem;
	margin-bottom: 0;
	font-size: 1.5rem;
	width: 6em;
	padding: 0em 0.5em;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.page-games ._folder > :nth-child(2),
.page-games ._folder > :nth-child(3),
.page-games ._folder > :nth-child(4) {
	margin: 0 2rem;
	font-size: 1.2rem;
	width: 16em;
	height: 1.5em;
	display: flex;
    align-items: end;
	padding: 0em 0.5em;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.page-games ._folder > :nth-child(2)
{
	margin-top: 1rem;
}
.page-games ._folder > :nth-child(5) {
	position: absolute;
	bottom: 1rem;
	right: 2rem;
	font-size: 1.5rem;
	opacity: 0.7;
	display: flex;
	justify-content: center;
	align-items: center;
	filter: blur(1px);
}
.page-games ._folder > :nth-child(6) {
	position: absolute;
	bottom: 1rem;
	left: 1.5rem;
	font-size: 1.2rem;
}
.page-games ._folder > :nth-child(6) span {
	font-size: 1.5rem;
}

.page-games ._card {
	padding: 0.5em 1em;
	display: none;
}
.page-games ._card:target {
	display: block;
}
.page-games ._header {
	font-family: Pirata One, "PT Sans", Arial, Helvetica, sans-serif;
	color: var(--c);
	padding: 1rem 2rem;
	font-size: 3rem;
	display: flex;
	justify-content: space-between;
}
.page-games ._header :nth-child(2) {
	font-size: 1.5rem;
}
.page-games ._links {
	display: flex;
	justify-content: end;
	height: 2rem;
	margin-top: auto;
}
.page-games ._links div {
	display: flex;
	gap: 0.5rem;
}
.page-games ._links img {
	width: 2rem;
}
.page-games ._links a {
	position: relative;
	text-decoration: none;
}
.page-games ._links a::before {
	content: "";
	position: absolute;
	top: -5px;
	right: -5px;
	width: 10px;
	height: 10px;
	border: solid var(--c);
	border-width: 2px 2px 0 0;
	transition-property: width, height;
	transition-duration: 200ms;
	transition-delay: 250ms;
}
.page-games ._links a::after {
	content: "";
	position: absolute;
	top: -12px;
	right: -12px;
	width: 5px;
	height: 5px;
	border: 2px solid var(--c);
	border-radius: 50%;
	border-bottom-left-radius: 0;
}
.page-games ._links a:first-child::before {
	top: auto;
	right: auto;
	bottom: -5px;
	left: -5px;
	border-width: 0 0 2px 2px;
}
.page-games ._links a:first-child::after {
	top: auto;
	right: auto;
	bottom: -12px;
	left: -12px;
	border-bottom-left-radius: 50%;
	border-top-right-radius: 0;
}
.page-games ._links div:hover a::before {
	transition-delay: 50ms;
	transition-duration: 150ms;
	width: 20px;
	height: 20px;
}

.page-games ._description, .page-games ._largeDescription {
	position: relative;
	font-family: Neucha, "PT Sans", Arial, Helvetica, sans-serif;
	color: var(--c);
	display: flex;
	font-size: 1.5rem;
	gap: 1em;
	margin-bottom: 1em;
}
.page-games ._description > div {
	display: flex;
	flex-direction: column;
}
._largeDescription {
	margin-top: 1em;
	flex-direction: column;
}

@media screen and (max-width: 600px) {
	.page-games ._header {
		flex-direction: column;
		padding-left: 0;
		padding-right: 0;
	}
	.page-games ._description {
		flex-direction: column;
	}
	.page-games ._img {
		align-self: center;
	}
}

.page-games ._img {
	position: relative;
	height: 10em;
	width: 10em;
	flex-shrink: 0;
	max-width: 100%;
}
.page-games ._img img {
	height: 100%;
	width: 100%;
	border-radius: 0.5em;
	object-fit: cover;
	filter: grayscale(0.2) sepia(0.2) brightness(1.1);

	border: solid currentColor;
	border-width: 3px 4px 3px 5px;
	border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
	/* transform: rotate(2deg); */
	box-sizing: border-box;
}
.page-games ._img::before {
	content: "";
	pointer-events: none;
	position: absolute;
	inset: 0;
	border-radius: 0.5em;
	z-index: 1;
	background-image: var(--image-noise);
	mix-blend-mode: multiply;
	border: solid transparent;
	border-width: 3px 4px 3px 5px;
	border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
	/* transform: rotate(2deg); */
	filter: brightness(1.2);
}
.page-games ._img::after {
	/* content: ""; */
	pointer-events: none;
	position: absolute;
	inset: -4px;
	z-index: 1;
}
.page-games p {
	margin: 0;
	margin-top: 0.5em;
}
.page-games p:nth-child(1) {
	margin: 0;
}

.page-games ._br {
	height: 4px;
	color: var(--c);
	background: repeating-linear-gradient(45deg, transparent 0, transparent 4px, currentColor 4px, currentColor 8px);
	opacity: 0.8;
	filter: blur(1px);
}

.page-games ._descriptionImg {
}
.page-games ._descriptionImg ._img2 {
	float: right;
	margin-left: 1em;
}
.page-games ._descriptionImg ._img2._fl {
	float: left;
	margin-left: 0;
	margin-right: 1em;
}
@media screen and (max-width: 700px) {
	.page-games ._descriptionImg ._img2:not(._img2-sq) {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
}
@media screen and (max-width: 500px) {
	.page-games ._descriptionImg ._img2._img2-sq {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
}
.page-games ._descriptionImg ._img2:not(:first-child) {
	margin-top: 0.4em
}
.page-games ._img2 {
	position: relative;
	width: 17em;
	height: 8em;
	max-width: 100%;
}
.page-games ._img2-sq {
	width: 8em;
	height: 8em;
}
.page-games ._img2 img {
	height: 100%;
	width: 100%;
	border-radius: 0.5em;
	object-fit: cover;
	filter: grayscale(0.2) sepia(0.2) brightness(1.1);

	border: solid currentColor;
	border-width: 4px 5px 4px 5px;
	border-radius: 95% 4% 92% 1%/4% 95% 6% 95%;
	/* transform: rotate(2deg); */
	box-sizing: border-box;
	transform: rotate(-2deg);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.8), inset 0 0 6px white;
}
.page-games ._img2::after, .page-games ._img2::before {
	content: "";
	position: absolute;
	width: 1.5em;
	height: 1.5em;
	background-color: currentColor;
	background-image: var(--image-noise);
	clip-path: polygon(0 0, 100% 0, 100% 100%);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
	z-index: 1;
	border-radius: 20%;
}
.page-games ._img2::before {
	bottom: -0.5em;
	left: 0em;
	clip-path: polygon(0 0, 0 100%, 100% 100%);
}
.page-games ._img2::after {
	top: -0.6em;
	right: 0.2em;
	width: 1.7em;
	height: 1.7em;
	transform: rotate(-4deg);
}
.page-games ._img2-sq::before {
	bottom: -0.3em;
	left: 0em;
	width: 1.2em;
	height: 1.2em;
	transform: rotate(-4deg);
}
.page-games ._img2-sq::after {
	top: -0.4em;
	right: 0.1em;
	width: 1.4em;
	height: 1.4em;
	transform: rotate(-6deg);
}
