.page-utils {
	background: radial-gradient(at 35% 95%, rgba(0, 255, 100, 0.3) 0%, transparent 26%),
		radial-gradient(at 90% 60%, rgba(12, 218, 0, 0.24) 0%, transparent 26%),
		radial-gradient(at 10% 10%, rgba(0, 249, 255, 0.32) 0%, transparent 33%),
		linear-gradient(90deg, #d2ffce 0%, #f4ffb0 100%);

	background: radial-gradient(circle at 15% 65%, #8cedfa 0%, transparent 45%),
		radial-gradient(circle at 50% 50%, #30b7f1 0%, transparent 80%),
		#0444a5;
	--arrow: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAB2SURBVDhPtZIBCsAgCEWri2+7WTtZ86sZLApr7IGk5VeLwi+UUk6Yhn5UWBkWSLoamnxItACE3KvhGxuJkm9kPZpDiW/hjEwmE8HhrTVYnGKMcC4ETm5dG6gmRQ3fnSsk2HvtCgSiM4YFuk+y8QY96Djr+pEQHmvZ7DE5EOQLAAAAAElFTkSuQmCC");
}
.page-utils.open {
	overflow-y: auto;
}

.page-utils .pageMarker {
	font-family: Segoe UI, sans-serif;
	color: var(--c);
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: scale 250ms;
	position: absolute;
	border-radius: 50%;
	background: #f0f0f0;
	border: 4px solid #8caed4;
}
.page-utils.open .pageMarker {
	scale: 0;
}

.page-utils .content {
	min-height: 600px;
}
.page-utils .content > ._window {
	margin-top: 2rem;
}

.page-utils ._window {
	border: 1px solid rgba(0, 0, 0, .7);
	border-radius: 6px;
	box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, .7);
	position: relative;
	z-index: 0;
}

.page-utils ._window::before {
	background: linear-gradient(transparent 20%, hsla(0, 0%, 100%, .7) 40%, transparent 41%), linear-gradient(90deg, hsla(0, 0%, 100%, .4), rgba(0, 0, 0, .1), hsla(0, 0%, 100%, .2)), linear-gradient(55deg, transparent, rgba(0, 0, 0, .1) 20%, rgba(0, 0, 0, .1) 50%, transparent 53%), #4580c4;
	border-radius: 6px;
	content: "";
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: -1;
}

.page-utils ._windowBar {
	align-items: center;
	background: linear-gradient(90deg, hsla(0, 0%, 100%, .4), rgba(0, 0, 0, .1), hsla(0, 0%, 100%, .2)), linear-gradient(55deg, transparent, rgba(0, 0, 0, .1) 20%, rgba(0, 0, 0, .1) 50%, transparent 53%), #4580c4;
	border-radius: 6px 6px 0 0;
	display: flex;
	font: 9pt Segoe UI, sans-serif;
	justify-content: space-between;
	padding: 6px;
	border: 0;
	box-shadow: inset 0 0.5px #fff;
}

.page-utils ._windowBarText {
	color: #000;
	letter-spacing: 0;
	line-height: 15px;
	text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
}

.page-utils ._windowBarControls {
	background: hsla(0, 0%, 100%, .2);
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 0 0 5px 5px;
	border-top: 0;
	box-shadow: 0 0 2px #fff;
	display: flex;
	margin-top: -6px;
	border-color: rgba(0, 0, 0, .7);
}

.page-utils ._windowBarControls button {
	background: none;
    border: 0;
    border-radius: 0;
    border-right: 1px solid rgba(0,0,0,.3);
    box-shadow: inset 0 0 0 1px #eee8;
    box-sizing: border-box;
    min-height: 19px;
    min-width: 29px;
    padding: 0;
    position: relative;
	outline: none;

    background: linear-gradient(hsla(0,0%,100%,.5),hsla(0,0%,100%,.3) 45%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.1) 75%,hsla(0,0%,100%,.5));
    border-color: rgba(0,0,0,.7);
    box-shadow: inset 0 0 0 1px #eee8;
}
.page-utils ._windowBarControls button:before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.page-utils ._windowBarControls button:first-child {
    border-bottom-left-radius: 5px;
}
.page-utils ._windowBarControls button:last-child {
    border: 0;
    border-bottom-right-radius: 5px;
}
.page-utils ._windowBarControls button[aria-label=Minimize]::before {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAFCAYAAABxeg0vAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAA7SURBVHgBlY+xDQAgDMNaiQ9B8AHcxAlI/NYtKwj6QOohUzxYc+1HAqQ3e03qXNpwwcyE5QsAaEGjDRf8ZAza6Bz6VQAAAABJRU5ErkJggg==) no-repeat center 10px;
}
.page-utils ._windowBarControls button[aria-label=Maximize]::before {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAYAAACALL/6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABsSURBVHgBlZHBCYAwDEVT6YaKbqArOILgBLqBosP1VkhAaQ6S1lKad+ihPy8kxLT9+IACG57r2KqKu2GCBpTYtEMOOQELzrnv4z53I4vDjjJnwXsPJWTOAiJGHVNB5pGwLjPk+AlEBLUY7eFebCosBHOR7vYAAAAASUVORK5CYII=) no-repeat 50%;
}
.page-utils ._windowBarControls button[aria-label=Close] {
	min-width: 48px;
    background-color: #d04834;
    box-shadow: inset 0 0 0 1px #eee8;
}
.page-utils ._windowBarControls button[aria-label=Close]::before {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAYAAABi8KSDAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACUSURBVHgBlZFNCoQwDIVbmRvOMHOAAd0K/uDGlYKiCG4VPICi9yu0oCSQoFUXFtKEl6+voZXvr7sKay1TL690FOexY+Hz87i2decOuDKQsNGVe8AGYTRJIh0Y+orBvxszCPllOymlxN06jNE26Qnwg4zdHQLrMhFaawwAqAadDPE1ijwUxhiMKCmxCZk06OMYTz5lAx3xWDeXkLNAAAAAAElFTkSuQmCC) no-repeat 50%;
}
.page-utils ._windowBarControls button:hover, .page-utils ._windowBarControls button:focus-visible {
    background: radial-gradient(circle at bottom,#2aceda,transparent 60%),linear-gradient(#a9d2e8 50%,#196c9b 0);
    box-shadow: 0 0 15px #2aceda, inset 0 0 0 1px #eee8;
}
.page-utils ._windowBarControls button:active {
    background: radial-gradient(circle at bottom,#0bfdfa,transparent 60%),linear-gradient(#86a7bc 50%,#092747 0);
    box-shadow: 0 0 15px #2aceda, inset 0 0 0 1px #eee8;
}
.page-utils ._windowBarControls button[aria-label=Close]:hover, .page-utils ._windowBarControls button[aria-label=Close]:focus-visible {
	background: linear-gradient(hsla(0,0%,100%,.5),hsla(0,0%,100%,.3) 45%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.1) 75%,hsla(0,0%,100%,.5)),radial-gradient(circle at 50% 170%,orange 10% 20%,#0000 60%),linear-gradient(#ee6d56 50%,#d42809 0);
	box-shadow: 0 0 15px #e68e75, inset 0 0 0 1px #eee8;
}
.page-utils ._windowBarControls button[aria-label=Close]:active {
    background: linear-gradient(hsla(0,0%,100%,.5),hsla(0,0%,100%,.3) 45%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.1) 75%,hsla(0,0%,100%,.5)),radial-gradient(circle at 50% 170%,#ff0 10% 20%,#0000 60%),linear-gradient(#b67562 50%,#780c01 0);
}

.page-utils ._windowBody {
	background: #f0f0f0;
	border: 1px solid rgba(0, 0, 0, .7);
	box-shadow: 0 0 1px 0.5px #fff;
	margin: 0 6px 6px;
	padding: 6px;
	font: 9pt Segoe UI, sans-serif;
}
.page-utils ._windowBody_explorer {
	padding: 0;
	height: 410px;
	display: flex;
	flex-direction: column;
}


.page-utils ._windowBar_large {
	flex-direction: column;
}
.page-utils ._windowBar_large > div {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.page-utils ._windowBar_large > div:last-child {
	gap: 6px;
	margin-top: 6px;
}
.page-utils ._windowBar_large > div:last-child > :nth-child(2) {
	flex-grow: 1;
}
.page-utils ._windowExplorerArrows {
	position: relative;
	width: 52px;
}
.page-utils ._windowExplorerArrows * {
	position: absolute;
	background-color: #b7c4d5;
	border: none;
	padding: 0;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: linear-gradient(hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .3) 45%, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .1) 75%, hsla(0, 0%, 100%, .9)) #9eb4cc;
    box-shadow: inset 0 -1px 0 #414141, inset 1px 1px 3px -1px #fff, inset -1px 1px 3px -1px #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-utils ._windowExplorerArrows :first-child {
	background: linear-gradient(#b6c5eb, #4168a1 45%, #010d4c 50%, #026eb7 75%, #91ffff);
}
.page-utils ._windowExplorerArrows :last-child {
	left: auto;
	right: 0;
}
.page-utils ._windowExplorerArrows ::before {
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	background: var(--arrow);
	filter: brightness(0.9);
}
.page-utils ._windowExplorerArrows :last-child::before {
	transform: scaleX(-1);
}

.page-utils ._windowExplorerArrows :first-child:hover, .page-utils ._windowExplorerArrows :first-child:focus-visible {
	background: radial-gradient(circle at bottom,#2aceda,transparent 50%), linear-gradient(#b6c5eb, #4168a1 45%, #010d4c 50%, #026eb7 75%, #91ffff);
    box-shadow: 0 0 15px #026eb7, inset 0 -1px 0 #414141, inset 1px 1px 3px -1px #fff, inset -1px 1px 3px -1px #fff;
	outline: none;
}

.page-utils ._windowExplorer {
	background: #f0f0f0;
    border-radius: 2px;
	border: none;
    box-shadow: inset 1px 1px 0 #414141, inset -1px -1px 0 #ccc;
    box-sizing: border-box;
    font: 9pt Segoe UI,sans-serif;
    height: 22px;
    min-width: 187px;
    padding: 3px 6px;
	display: flex;
	gap: 8px;
	cursor: default;
}
.page-utils ._windowExplorer_search {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggc3Ryb2tlPSIjMjA3MGI5IiBkPSJNMTAuNSAxQzguMDIgMSA2IDMuMDIgNiA1LjVhNC40NSA0LjQ1IDAgMCAwIDEgMi43OTNMMi4wMjMgMTMuMjdsLjcwNC43MUw3LjcwNyA5Yy43Ny42MTcgMS43MzQgMSAyLjc5MyAxIDIuNDggMCA0LjUtMi4wMiA0LjUtNC41UzEyLjk4IDEgMTAuNSAxWm0wIDFDMTIuNDM4IDIgMTQgMy41NjMgMTQgNS41IDE0IDcuNDM4IDEyLjQzNyA5IDEwLjUgOUEzLjQ5NCAzLjQ5NCAwIDAgMSA3IDUuNUM3IDMuNTYyIDguNTYzIDIgMTAuNSAyWiIvPjwvc3ZnPg==);
    background-position: calc(100% - 8px);
    background-repeat: no-repeat;
    background-size: 14px;
}
@media screen and (max-width: 500px) {
	.page-utils ._windowExplorer_search {
		display: none;
	}
}

.page-utils ._explorerArrow {
	position: relative;
	width: 5px;
}
.page-utils ._explorerArrow::before {
    content: "";
    position: absolute;
    left: 0;
    top: calc(50% - 3px);
	border: 4px solid transparent;
    border-left-color: currentColor;
    border-radius: 2px;
}
.page-utils ._explorerArrow_down::before {
    top: calc(50% - 1px);
    border-left-color: transparent;
    border-top-color: currentColor;
}

.page-utils ._toolbar {
	background: linear-gradient(#fff 20%,#f1f4fa 25%,#f1f4fa 43%,#d4dbee 48%,#e6eaf6);
    display: flex;
	font: 9pt Segoe UI, sans-serif;
	border: 1px solid rgba(0, 0, 0, .7);
	border-bottom: none;
	box-shadow: 0 0 1px 0.5px #fff;
	margin: 0 6px 0 6px;
	cursor: default;
	gap: 8px;
}
.page-utils ._toolbar button {
	padding: 6px 10px;
	background: transparent;
	border: none;
	font: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
}
.page-utils ._toolbar span {
	flex-grow: 1;
}
.page-utils ._toolbar button:hover, .page-utils ._toolbar button:focus-visible {
	background: linear-gradient(#77a1be 20%,#3676a0 43%,#084970 43%,#084f76 48%,#548aa4);
    color: #fff;
}
.page-utils ._toolbar ._explorerArrow_down {
	margin-left: 8px;
	margin-right: 4px;
}
@media screen and (max-width: 420px) {
	.page-utils ._toolbar > :nth-child(1),
	.page-utils ._toolbar > :last-child {
		display: none;
	}
}


.page-utils ._explorer {
	display: flex;
	flex-grow: 1;
	background-color: #fdfdfd;
}
.page-utils ._folders {
	flex-basis: 180px;
	flex-shrink: 0;
	padding-top: 6px;
}
.page-utils ._projects {
	flex-grow: 1;
	overflow-x: auto;
	padding-left: 16px;
}

.page-utils ._folders {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-bottom: 32px;
	cursor: default;
	overflow-y: scroll;
}
@media screen and (max-width: 380px) {
	.page-utils ._folders {
		display: none;
	}
}
.page-utils ._folders ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}
.page-utils ._li {
	position: relative;
	display: flex;
	align-items: center;
	gap: 4px;
	border: 1px solid transparent;
	background: transparent;
	font: inherit;
	cursor: pointer;
	border-radius: 2px;
	padding: 2px;
	padding-left: 4px;
	color: black;
	outline: none;
}
.page-utils ._li:hover, .page-utils ._li_hov {
	background: linear-gradient(#f7f7f7, #e4e4e4);
	border-color: #d9d9d9;
}
.page-utils ._li:active, .page-utils ._li:focus-visible {
	background: linear-gradient(#d6e6f5, #bfd5ed);
	border-color: #8e9aa6;
}
.page-utils ul ._li {
	padding-left: 28px;
}
.page-utils ul ._li:first-child {
	padding-left: 20px;
}
.page-utils ul ._li::before {
    content: "";
    position: absolute;
    left: 20px;
    top: calc(50% - 3px);
	border: 4px solid transparent;
    border-left-color: currentColor;
    border-radius: 2px;
	color: #b4b4b4;
}
.page-utils ul ._li:first-child::before {
	transform: rotate(45deg);
	color: black;
    left: 10px;
}
.page-utils ._folders ul:first-child ._li:not(:first-child)::before {
	color: transparent;
}

.page-utils ._explorerHeader {
	margin-bottom: 4px;
}
.page-utils ._explorerHeader div {
	position: relative;
	padding-top: 6px;
}
.page-utils ._explorerHeader div::before {
	content: "";
	position: absolute;
	top: 0;
	right: 6px;
	width: 1px;
	height: 16px;
	background-color: #e5e5e5;
}
.page-utils ._projects ._li, .page-utils ._explorerHeader {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr 5%;
	min-width: 512px;
}
.page-utils ._projects ._li > span {
	display: flex;
	align-items: center;
	gap: 4px;
}
.page-utils ._projects ._li > span:last-child {
	justify-content: end;
	padding-right: 8px;
}

.page-utils ._explorerBottom {
	background-color: #f1f4fb;
	height: 50px;
	border-top: 2px solid #cbd9e9;
	display: flex;
	padding: 2px;
	padding-left: 16px;
	gap: 16px;
	box-sizing: border-box;
	flex-shrink: 0;
}
.page-utils ._explorerBottom img {
	height: 100%;
}
.page-utils ._explorerBottom div {
	margin-top: 4px;
	color: #163e91;
}



.page-utils ::-webkit-scrollbar {
	width: 16px;
	height: 16px;
}

.page-utils ::-webkit-scrollbar-button:single-button {
	width: 16px;
	height: 16px;
	background-color: #efefef;
	background: linear-gradient(90deg, hsl(0 0% 75% / 1), #efefef 2px, #efefef 4px, transparent 4px),
		linear-gradient(-90deg, hsl(0 0% 75% / 1), #efefef 1px, #efefef 4px, transparent 4px),
		linear-gradient(225deg, #efefef 10px, transparent 10px, transparent),
		linear-gradient(180deg, transparent 10px, #efefef 10px, #efefef),
		linear-gradient(135deg, transparent 10px, black 10px, #b6b6b6 14px),
		#EFEFF0;
}

.page-utils ::-webkit-scrollbar-button:single-button:vertical:decrement {
	background: linear-gradient(180deg, hsl(0 0% 85% / 1), transparent 2px),
		linear-gradient(90deg, hsl(0 0% 75% / 1), #efefef 2px, #efefef 4px, transparent 4px),
		linear-gradient(-90deg, hsl(0 0% 75% / 1), #efefef 1px, #efefef 4px, transparent 4px),
		linear-gradient(225deg, #efefef 10px, transparent 10px, transparent),
		linear-gradient(180deg, transparent 10px, #efefef 10px, #efefef),
		linear-gradient(135deg, transparent 10px, black 10px, #b6b6b6 14px),
		#EFEFF0;
}
.page-utils ::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
	box-shadow: inset #3c7fb1 0px 0px 0px 1px, inset #e4e5e766 0px 0px 0px 2px, inset #f9f9f9 0px -1px 0px 1px, inset #f9f9f9 0px 1px 0px 1px, #cacace 0px 0px 0px 1px;
	background: linear-gradient(90deg, #e5f4fd, #e5f4fd), linear-gradient(90deg, #e5f4fd, #e5f4fd), linear-gradient(90deg, #e5f4fd, #e5f4fd 4px, transparent 4px),  linear-gradient(-90deg, #b3e0f9, #b3e0f9 4px, transparent 4px),  linear-gradient(225deg, #b3e0f9 10px, transparent 10px, transparent),  linear-gradient(180deg, transparent 10px, #b3e0f9 10px, #b3e0f9),  linear-gradient(135deg, transparent 10px, black 10px, #b6b6b6 14px),  #e5f4fd;
	background-position: 3px 0px, 3px 10px, center, center, center, center, center, center;
	background-size: 5px 6px, 5px 6px, contain, contain, contain, contain, contain, contain, contain;
	background-repeat: no-repeat;
	border-radius: 3px;
}
.page-utils ::-webkit-scrollbar-button:single-button:vertical:decrement:active {
	box-shadow: inset #6d91ab 0px 0px 0px 1px, inset #e4e5e766 0px 0px 0px 2px, inset #f9f9f9 0px -1px 0px 1px, inset #f9f9f9 0px 1px 0px 1px;
	background: linear-gradient(90deg, #cee9f8, #cee9f8), linear-gradient(90deg, #cee9f8, #cee9f8), linear-gradient(90deg, #cee9f8, #cee9f8 4px, transparent 4px),  linear-gradient(-90deg, #86c6e8, #86c6e8 4px, transparent 4px),  linear-gradient(225deg, #86c6e8 10px, transparent 10px, transparent),  linear-gradient(180deg, transparent 10px, #86c6e8 10px, #86c6e8),  linear-gradient(135deg, transparent 10px, black 10px, #b6b6b6 14px),  #cee9f8;
	background-position: 3px 0px, 3px 10px, center, center, center, center, center, center;
	background-size: 5px 6px, 5px 6px, contain, contain, contain, contain, contain, contain, contain;
	background-repeat: no-repeat;
	border-radius: 3px;
}

.page-utils ::-webkit-scrollbar-button:single-button:vertical:increment {
	background: linear-gradient(0deg, hsl(0 0% 85% / 1), transparent 2px),
		linear-gradient(90deg, hsl(0 0% 75% / 1), #efefef 2px, #efefef 4px, transparent 4px),
		linear-gradient(-90deg, hsl(0 0% 75% / 1), #efefef 1px, #efefef 4px, transparent 4px),
		linear-gradient(45deg, #efefef 8.5px, transparent 8.5px, transparent),
		linear-gradient(0deg, transparent 8px, #efefef 8px, #efefef),
		linear-gradient(135deg, transparent 8px, black 8px, black 10px, #b6b6b6 14px, transparent 14px),
		#EFEFF0;
}
.page-utils ::-webkit-scrollbar-button:single-button:vertical:increment:hover {
	box-shadow: inset #3c7fb1 0px 0px 0px 1px, inset #e4e5e766 0px 0px 0px 2px, inset #f9f9f9 0px -1px 0px 1px, inset #f9f9f9 0px 1px 0px 1px, #cacace 0px 0px 0px 1px;
	background: linear-gradient(90deg, #e5f4fd, #e5f4fd), linear-gradient(90deg, #b3e0f9, #b3e0f9), linear-gradient(0deg, #e5f4fd, transparent 2px),  linear-gradient(90deg, #e5f4fd, #e5f4fd 4px, transparent 4px),  linear-gradient(-90deg, #b3e0f9, #b3e0f9 4px, transparent 4px),  linear-gradient(45deg, #e5f4fd 8.5px, transparent 8.5px, transparent),  linear-gradient(0deg, transparent 8px, #b3e0f9 8px, #b3e0f9),  linear-gradient(135deg, transparent 8px, black 8px, black 10px, #b6b6b6 14px, transparent 14px),  #b3e0f9;
	background-position: 3px 0px, 8px 12px, center, center, center, center, center, center;
	background-size: 5px 8px, 5px 3px, contain, contain, contain, contain, contain, contain, contain;
	background-repeat: no-repeat;
	border-radius: 3px;
}
.page-utils ::-webkit-scrollbar-button:single-button:vertical:increment:active {
	box-shadow: inset #3c7fb1 0px 0px 0px 1px, inset #e4e5e766 0px 0px 0px 2px, inset #f9f9f9 0px -1px 0px 1px, inset #f9f9f9 0px 1px 0px 1px, #cacace 0px 0px 0px 1px;
	background: linear-gradient(90deg, #cee9f8, #cee9f8), linear-gradient(90deg, #86c6e8, #86c6e8), linear-gradient(0deg, #cee9f8, transparent 2px),  linear-gradient(90deg, #cee9f8, #cee9f8 4px, transparent 4px),  linear-gradient(-90deg, #86c6e8, #86c6e8 4px, transparent 4px),  linear-gradient(45deg, #cee9f8 8.5px, transparent 8.5px, transparent),  linear-gradient(0deg, transparent 8px, #86c6e8 8px, #86c6e8),  linear-gradient(135deg, transparent 8px, black 8px, black 10px, #b6b6b6 14px, transparent 14px),  #86c6e8;
	background-position: 3px 0px, 8px 12px, center, center, center, center, center, center;
	background-size: 5px 8px, 5px 3px, contain, contain, contain, contain, contain, contain, contain;
	background-repeat: no-repeat;
	border-radius: 3px;
}

.page-utils ::-webkit-scrollbar-button:single-button:horizontal:decrement {
	background: linear-gradient(90deg, hsl(0 0% 85% / 1), transparent 2px),
		linear-gradient(180deg, hsl(0 0% 75% / 1), #efefef 2px, #efefef 4px, transparent 4px),
		linear-gradient(0deg, hsl(0 0% 75% / 1), #efefef 1px, #efefef 4px, transparent 4px),
		linear-gradient(45deg, #efefef 10px, transparent 10px, transparent),
		linear-gradient(90deg, transparent 10px, #efefef 10px, #efefef),
		linear-gradient(135deg, transparent 10px, black 10px, #b6b6b6 14px),
		#EFEFF0;
}
.page-utils ::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
	box-shadow: inset #3c7fb1 0px 0px 0px 1px, inset #e4e5e766 0px 0px 0px 2px, inset #f9f9f9 -1px 0px 0px 1px, inset #f9f9f9 1px 0px 0px 1px, #cacace 0px 0px 0px 1px;
	background: linear-gradient(90deg, #e5f4fd, #e5f4fd), linear-gradient(90deg, #b3e0f9, #b3e0f9), linear-gradient(90deg, #b3e0f9 2px, transparent 2px), linear-gradient(180deg, #e5f4fd 4px, transparent 4px), linear-gradient(0deg, #b3e0f9, #b3e0f9 4px, transparent 4px), linear-gradient(45deg, #b3e0f9 10px, transparent 10px, transparent), linear-gradient(90deg, transparent 10px, #e5f4fd 10px, #e5f4fd), linear-gradient(135deg, transparent 10px, black 10px, #b6b6b6 14px), #e5f4fd;
	background-position: 0px 0px, 10px 8px, center, center, center, center, center, center;
	background-size: 6px 8px, 6px 4px, contain, contain, contain, contain, contain, contain, contain;
	background-repeat: no-repeat;
	border-radius: 3px;
}
.page-utils ::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
	box-shadow: inset #3c7fb1 0px 0px 0px 1px, inset #e4e5e766 0px 0px 0px 2px, inset #f9f9f9 -1px 0px 0px 1px, inset #f9f9f9 1px 0px 0px 1px, #cacace 0px 0px 0px 1px;
	background: linear-gradient(90deg, #cee9f8, #cee9f8), linear-gradient(90deg, #86c6e8, #86c6e8), linear-gradient(90deg, #86c6e8 2px, transparent 2px), linear-gradient(180deg, #cee9f8 4px, transparent 4px), linear-gradient(0deg, #86c6e8, #86c6e8 4px, transparent 4px), linear-gradient(45deg, #86c6e8 10px, transparent 10px, transparent), linear-gradient(90deg, transparent 10px, #cee9f8 10px, #cee9f8), linear-gradient(135deg, transparent 10px, black 10px, #b6b6b6 14px), #cee9f8;
	background-position: 0px 0px, 10px 8px, center, center, center, center, center, center;
	background-size: 6px 8px, 6px 4px, contain, contain, contain, contain, contain, contain, contain;
	background-repeat: no-repeat;
	border-radius: 3px;
}

.page-utils ::-webkit-scrollbar-button:single-button:horizontal:increment {
	background: linear-gradient(270deg, hsl(0 0% 85% / 1), transparent 2px),
		linear-gradient(180deg, hsl(0 0% 75% / 1), #efefef 2px, #efefef 4px, transparent 4px),
		linear-gradient(0deg, hsl(0 0% 75% / 1), #efefef 1px, #efefef 4px, transparent 4px),
		linear-gradient(225deg, #efefef 8.5px, transparent 8.5px, transparent),
		linear-gradient(270deg, transparent 8px, #efefef 8px, #efefef),
		linear-gradient(135deg, transparent 8px, black 8px, black 10px, #b6b6b6 14px, transparent 14px),
		#EFEFF0;
}
.page-utils ::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
	box-shadow: inset #3c7fb1 0px 0px 0px 1px, inset #e4e5e766 0px 0px 0px 2px, inset #f9f9f9 -1px 0px 0px 1px, inset #f9f9f9 1px 0px 0px 1px, #cacace 0px 0px 0px 1px;
	background: linear-gradient(90deg, #e5f4fd, #e5f4fd), linear-gradient(90deg, #b3e0f9, #b3e0f9), linear-gradient(270deg, #e5f4fd, transparent 2px), linear-gradient(180deg, #b3e0f9, #e5f4fd 2px, #e5f4fd 4px, transparent 4px), linear-gradient(0deg, #b3e0f9, #b3e0f9 4px, transparent 4px), linear-gradient(225deg, #e5f4fd 8.5px, transparent 8.5px, transparent), linear-gradient(270deg, transparent 8px, #b3e0f9 8px, #b3e0f9), linear-gradient(135deg, transparent 8px, black 8px, black 10px, #b6b6b6 14px, transparent 14px), #b3e0f9;
	background-position: 0px 0px, 12px 8px, center, center, center, center, center, center;
	background-size: 8px 8px, 2px 2px, contain, contain, contain, contain, contain, contain, contain;
	background-repeat: no-repeat;
	border-radius: 3px;
}
.page-utils ::-webkit-scrollbar-button:single-button:horizontal:increment:active {
	box-shadow: inset #3c7fb1 0px 0px 0px 1px, inset #e4e5e766 0px 0px 0px 2px, inset #f9f9f9 -1px 0px 0px 1px, inset #f9f9f9 1px 0px 0px 1px, #cacace 0px 0px 0px 1px;
	background: linear-gradient(90deg, #cee9f8, #cee9f8), linear-gradient(90deg, #86c6e8, #86c6e8), linear-gradient(270deg, #cee9f8, transparent 2px), linear-gradient(180deg, #86c6e8, #cee9f8 2px, #cee9f8 4px, transparent 4px), linear-gradient(0deg, #86c6e8, #86c6e8 4px, transparent 4px), linear-gradient(225deg, #cee9f8 8.5px, transparent 8.5px, transparent), linear-gradient(270deg, transparent 8px, #86c6e8 8px, #86c6e8), linear-gradient(135deg, transparent 8px, black 8px, black 10px, #b6b6b6 14px, transparent 14px), #86c6e8;
	background-position: 0px 0px, 12px 8px, center, center, center, center, center, center;
	background-size: 8px 8px, 2px 2px, contain, contain, contain, contain, contain, contain, contain;
	background-repeat: no-repeat;
	border-radius: 3px;
}

.page-utils ::-webkit-scrollbar-corner {
	background-color: #efefef;
}

.page-utils ::-webkit-scrollbar-thumb {
	background-color: #cecdd1;
	background: linear-gradient(90deg, #f5f5f5, #eaeaec 50%, #d9d9db 50%, #c0bfc3);
	border: none;
	border-right: 1px solid transparent;
	border-radius: 2px 3px 3px 2px;
	box-shadow: inset #989898 0px 0px 0px 1px, inset #e4e5e766 0px 0px 0px 2px, inset #f9f9f9 0px -1px 0px 1px, inset #f9f9f9 0px 1px 0px 1px;
	background-clip: padding-box;

	background-image: repeating-linear-gradient(160deg, #3b3a3a, #b0afaf 3px, #b0afaf),
		repeating-linear-gradient(160deg, #3b3a3a, #b0afaf 3px, #b0afaf),
		repeating-linear-gradient(160deg, #3b3a3a, #b0afaf 3px, #b0afaf),
		linear-gradient(90deg, #f5f5f5, #eaeaec 50%, #d9d9db 50%, #c0bfc3);
	background-repeat: no-repeat, no-repeat, no-repeat, repeat;
	background-position: center, left 4px top calc(50% - 3px), left 4px top calc(50% + 3px), left;
	background-size: 7px 2px, 7px 2px, 7px 2px, auto;
}
.page-utils ::-webkit-scrollbar-thumb:hover {
	box-shadow: inset #3c7fb1 0px 0px 0px 1px, inset #e4e5e766 0px 0px 0px 2px, inset #f9f9f9 0px -1px 0px 1px, inset #f9f9f9 0px 1px 0px 1px;
	background-image: repeating-linear-gradient(160deg, #3b3a3a, #b0afaf 3px, #b0afaf),
		repeating-linear-gradient(160deg, #3b3a3a, #b0afaf 3px, #b0afaf),
		repeating-linear-gradient(160deg, #3b3a3a, #b0afaf 3px, #b0afaf),
		linear-gradient(90deg, #eaf6fd, #e5f4fd 50%, #b3e0f9 50%, #b3e0f9);
}
.page-utils ::-webkit-scrollbar-thumb:active {
	box-shadow: inset #6d91ab 0px 0px 0px 1px, inset #e4e5e766 0px 0px 0px 2px, inset #f9f9f9 0px -1px 0px 1px, inset #f9f9f9 0px 1px 0px 1px;
	background-image: repeating-linear-gradient(160deg, #3b3a3a, #b0afaf 3px, #b0afaf),
		repeating-linear-gradient(160deg, #3b3a3a, #b0afaf 3px, #b0afaf),
		repeating-linear-gradient(160deg, #3b3a3a, #b0afaf 3px, #b0afaf),
		linear-gradient(90deg, #cee9f8, #cee9f8 50%, #86c6e8 50%, #86c6e8);
}

.page-utils ::-webkit-scrollbar-thumb:horizontal {
	background: linear-gradient(0deg, #f5f5f5, #eaeaec 50%, #d9d9db 50%, #c0bfc3);
	border-right: none;
	border-bottom: 1px solid transparent;
	border-radius: 2px 2px 3px 3px;
	box-shadow: inset #989898 0px 0px 0px 1px, inset #e4e5e766 0px 0px 0px 2px, inset #f9f9f9 -1px 0px 0px 1px, inset #f9f9f9 1px 0px 0px 1px;
	background-clip: padding-box;

	background-image: repeating-linear-gradient(110deg, #3b3a3a, #b0afaf 3px, #b0afaf),
		repeating-linear-gradient(110deg, #3b3a3a, #b0afaf 3px, #b0afaf),
		repeating-linear-gradient(110deg, #3b3a3a, #b0afaf 3px, #b0afaf),
		linear-gradient(180deg, #f5f5f5, #eaeaec 50%, #d9d9db 50%, #c0bfc3);
	background-repeat: no-repeat, no-repeat, no-repeat, repeat;
	background-position: center, left calc(50% - 3px) top 4px, left calc(50% + 3px) top 4px, left;
	background-size: 2px 7px, 2px 7px, 2px 7px, auto;
}
.page-utils ::-webkit-scrollbar-thumb:horizontal:hover {
	box-shadow: inset #3c7fb1 0px 0px 0px 1px, inset #e4e5e766 0px 0px 0px 2px, inset #f9f9f9 -1px 0px 0px 1px, inset #f9f9f9 1px 0px 0px 1px;
	background-image: repeating-linear-gradient(110deg, #3b3a3a, #b0afaf 3px, #b0afaf),
		repeating-linear-gradient(110deg, #3b3a3a, #b0afaf 3px, #b0afaf),
		repeating-linear-gradient(110deg, #3b3a3a, #b0afaf 3px, #b0afaf),
		linear-gradient(180deg, #eaf6fd, #e5f4fd 50%, #b3e0f9 50%, #b3e0f9);
}
.page-utils ::-webkit-scrollbar-thumb:horizontal:active {
	box-shadow: inset #6d91ab 0px 0px 0px 1px, inset #e4e5e766 0px 0px 0px 2px, inset #f9f9f9 -1px 0px 0px 1px, inset #f9f9f9 1px 0px 0px 1px;
	background-image: repeating-linear-gradient(110deg, #3b3a3a, #b0afaf 3px, #b0afaf),
		repeating-linear-gradient(110deg, #3b3a3a, #b0afaf 3px, #b0afaf),
		repeating-linear-gradient(110deg, #3b3a3a, #b0afaf 3px, #b0afaf),
		linear-gradient(180deg, #cee9f8, #cee9f8 50%, #86c6e8 50%, #86c6e8);
}

.page-utils ::-webkit-scrollbar-track {
	background-color: #efefef;
	background: linear-gradient(90deg, hsl(0 0% 75% / 1), #efefef 2px, #efefef 50%, transparent 50%),
		linear-gradient(-90deg, hsl(0 0% 75% / 1), #efefef 1px);
}

.page-utils ::-webkit-scrollbar-track:horizontal {
	background: linear-gradient(180deg, hsl(0 0% 75% / 1), #efefef 2px, #efefef 50%, transparent 50%),
		linear-gradient(0deg, hsl(0 0% 75% / 1), #efefef 1px);
}

.page-utils ::-webkit-scrollbar-track-piece {}


.page-utils ._controlPanel {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(90deg, hsla(0, 0%, 100%, .4), rgba(0, 0, 0, .1), hsla(0, 0%, 100%, .2)), linear-gradient(55deg, transparent, rgba(0, 0, 0, .1) 20%, rgba(0, 0, 0, .1) 50%, transparent 53%), #4580c4;
	box-shadow: inset 0 0.5px #fff;
	height: 42px;
	border: 1px solid rgba(0, 0, 0, .7);
	display: flex;
	align-items: center;
	gap: 2px;
	padding-left: 8px;
}
.page-utils ._winBtn {
	position: relative;
	background-color: #b7c4d5;
	border: none;
	padding: 0;
	margin-right: 16px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: linear-gradient(hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .3) 45%, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .1) 75%, hsla(0, 0%, 100%, .9)) #9eb4cc;
    box-shadow: inset 0 -1px 0 #414141, inset 1px 1px 3px -1px #fff, inset -1px 1px 3px -1px #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(#b6c5eb, #4168a1 45%, #010d4c 50%, #026eb7 75%, #91ffff);
}
.page-utils ._winBtn:hover, .page-utils ._winBtn:focus-visible {
	background: radial-gradient(circle at bottom,#2aceda,transparent 50%), linear-gradient(#b6c5eb, #4168a1 45%, #010d4c 50%, #026eb7 75%, #91ffff);
    box-shadow: 0 0 15px #026eb7, inset 0 -1px 0 #414141, inset 1px 1px 3px -1px #fff, inset -1px 1px 3px -1px #fff;
	outline: none;
}
.page-utils ._winBtn svg {
	position: absolute;
	inset: 0;
}
.page-utils ._winBtn:hover svg:first-child, .page-utils ._winBtn:focus-visible svg:first-child {
	filter: blur(2px) saturate(5) brightness(5);
}
.page-utils ._appBtn {
	padding: 0 16px;
	height: calc(100% - 2px);
	margin: 0;
	background-color: transparent;
	border: 1px solid transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2px;
}
.page-utils ._appBtn img {
	height: 28px;
}

.page-utils ._appBtn:hover, .page-utils ._appBtn:focus-visible, .page-utils ._appBtn_active {
	background: radial-gradient(circle at top left, #d0dce7 0%, #8aa5c5 70%);
	box-shadow: inset 0 0 1px 0.5px #fff;
	border-color: #374b5f;
}